<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="酒店管理系统.Properties.Settings.HotelConnectionString"
            connectionString="Data Source=DESKTOP-MGER175;Initial Catalog=Hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="酒店管理系统.Properties.Settings.HotelConnectionString1"
            connectionString="Data Source=DESKTOP-U9OI8BO;Initial Catalog=Hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>